
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --jet: hsla(27, 10%, 17%, 1);
    --cultured: hsla(300, 9%, 96%, 1);
    --steel-teal: hsla(187, 29%, 44%, 1);
    --pistachio: hsla(94, 38%, 59%, 1);
    --honey-yellow: hsla(39, 92%, 57%, 1);   
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 50px;
    height: 100vh;
    background: var(--cultured);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 40px;
}

/* TOP SECTION */

.topSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 80px;
}

.infoContainer {
    background:hsla(27, 10%, 17%, 1);
    border-radius: 12px;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsla(300, 9%, 96%, 1);
    max-width: 500px;
}
.infoContainer h1 {
    font-size: x-large;
}
.infoContainer p {
    text-align: center;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    color: hsla(300, 9%, 96%, 1);
    background:hsla(27, 10%, 17%, 1);
    max-width: 700px;

}

.redBanner {
    background: rgb(255,92,92);
    display: flex;
    justify-content: center;
    min-height: 80px;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.redBanner img {
    border-radius: 50%;
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

.bottomSide {
    background: hsla(27, 10%, 17%, 1);
    border-radius: inherit;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottomSide h1 {
    margin: 70px 0 20px 0;
}
.bottomSide a {
    text-decoration-line: none;
    padding: 10px 30px 0;
    height: 40px;
    font-size: 20px;
    background: rgb(59, 56, 53);
    border: none;
    border-radius: 10px;
    color: hsla(300, 9%, 96%, 1);
}
.bottomSide a:hover {
    color: hsla(39, 92%, 57%, 1);
}

.githubStatContainer {
    display: flex;
    justify-content: space-around;
    width: 500px;
    background: rgb(59, 56, 53);
    padding: 16px;
    border-radius: 14px;
    border-top: 2px solid hsla(39, 92%, 57%, 1);
}
.githubStatContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.githubStatContainer div > h1 {
    margin: 0;
    color: hsla(94, 38%, 59%, 1);
}
.githubStatContainer div > p:hover {
    cursor: pointer;
    color: hsla(39, 92%, 57%, 1);
}

/* BOTTOM SECTION */

.bottomSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 2000px;
    max-height: 300px;
}

.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(27, 10%, 17%, 1);
    margin: 0 20px 20px;
    padding: 12px;
    border-radius: 12px;
    color: hsla(300, 9%, 96%, 1);
}
.card a > img {
    height: 150px;
    width: 250px;
}
.card a:nth-of-type(2) {
    font-size: 16px;
    margin: 14px 0;
    text-decoration-line: none;
    color: hsla(300, 9%, 96%, 1)
}
.card a:hover {
    color: hsla(39, 92%, 57%, 1);
}
.card div {
    align-self: flex-start;
}