
:root {
    --jet: hsla(27, 10%, 17%, 1);
    --cultured: hsla(300, 9%, 96%, 1);
    --steel-teal: hsla(187, 29%, 44%, 1);
    --pistachio: hsla(94, 38%, 59%, 1);
    --honey-yellow: hsla(39, 92%, 57%, 1);   
}


body {
    margin: 0;
    height: 100vh;
    background: var(--cultured);

}

/* TOP SECTION */

.topSection {

}

.infoContainer {

}
.infoContainer h1 {

}
.infoContainer p {

}

.profileContainer {

}

.redBanner {

}
.redBanner i {

}
.redBanner img {

}

.bottomSide {

}
.bottomSide h1 {

}
.bottomSide p {
    
}

.bottomSide .desc {

}

.githubStatContainer {

}
.githubStatContainer div {

}
.githubStatContainer div > h1 {

}
.githubStatContainer div > p {

}

/* BOTTOM SECTION */

.bottomSection {

}

.card {

}
.card img {

}
.card h1 {

}
.card div {

}
.card div > i {

}